
$default-font-family:arial, sans-serif;
$default-font-size:1em;
$default-line-height:1.4;

$link-color:#105CB6;
$link-color-hover:#105CB6;

$text-color:#222;


$site-width:960px;

$prefixes:-webkit,-moz,-ms,-o;
